body {
  background-color: #2c2b41;
  color: #FFF;
}
.navbar {
  background-color: #0F0F12;
  padding: 10px;
  margin-bottom: 20px;
}
thead {
  border-top-style: none;
  background-color: #0F0F12;
}

.text-center{
  text-align: center;
}

#boss-gear{
  padding: 20px;
  margin-top: 20px;
}

.obtained {
  color: #6C6;
}

.pleb {
  color: #C66;
}

#guild-stats {
  padding: 20px
}

.inline {
  display: inline-block;
}

.group {
  margin: 20px;
}

#main-link{
  font-size: 24px;
  color: #FFF;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
